examples/TR_postseismic_685
examples/TR_inter_with_sboi2
v2.1betap_updated1/
/nfs/a1/eemne/VELMAP/examples/TR_inter_with_sboi2/output*
/nfs/a1/eemne/VELMAP/examples/TR_inter_with_sboi2/geotiff*
/nfs/a1/eemne/VELMAP/examples/TR_inter_with_sboi2/sboi*
/nfs/a1/eemne/VELMAP/examples/TR_inter_with_sboi2/range*
